/* Common Styles */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.icon-codeforces {
    fill: #000016 !important;
    width: 32px;
    height: 32px;
}

header {
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover {
    color: #601cfc;
}

.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.footer {
    background-color: #000016;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-around;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #3a6cf4;
}

.footer .social-icons a {
    color: #fff;
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

/* Start Page */

section {
    padding: 50px 200px;
}

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 100px 200px 50px;
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.paper {
    background-color: #000016;
}

.summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 25px;
    border-radius: 25px;
}

.summary-material {
    display: flex;
}

.summary-title {
    text-align: center;
    color: #3a6cf4;
    writing-mode: vertical-rl;
    padding-right: 25px;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 700;
}

.summary-body {
    padding-bottom: 15px;
}

.paper-download {
    text-decoration: none;
    color: #3a6cf4;
    background-color: #fff;
    border: 1px #3a6cf4 solid;
    padding: 10px;
    transition: all 0.7s;
}

.paper-download:hover {
    background-color: #3a6cf4;
    color: #fff;
}

.cards {
    background-color: #fff;
}

.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3 {
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

@media (max-width:1100px) {
    header {
        padding: 12px 20px;
    }

    .navigation a {
        padding-left: 10px;
    }

    section,
    .main {
        padding: 70px 20px;
    }

    .title {
        font-size: 1.8em;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:700px) {
    body {
        font-size: 12px;
    }

    .summary-material {
        flex-direction: column;
    }

    .summary-title {
        writing-mode: horizontal-tb;
        padding-bottom: 15px;
    }
}

@media (max-width:300px) {
    body {
        font-size: 10px;
    }
}